<!DOCTYPE html>
<html>
  <head>
    <title>Harmony - Free Voice and Text Chat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('favicon.png') %>

    <script type="text/javascript">
      window.androidURL = "<%= image_url('splash/android.svg') %>";
      window.iphoneURL = "<%= image_url('splash/iphone.svg') %>";
      window.bombURL = "<%= image_url('splash/bomb.svg') %>";
      window.coinURL = "<%= image_url('splash/coin.svg') %>";
      window.controllerURL = "<%= image_url('splash/controller.svg') %>";
      window.discURL = "<%= image_url('splash/disc.svg') %>";
      window.dotURL = "<%= image_url('splash/dot.svg') %>";
      window.cartridgeURL = "<%= image_url('splash/gba_cartridge.svg') %>";
      window.headphonesURL = "<%= image_url('splash/headphones.svg') %>";
      window.laptopURL = "<%= image_url('splash/laptop.svg') %>";
      window.monitorURL = "<%= image_url('splash/monitor.svg') %>";
      window.oURL = "<%= image_url('splash/o.svg') %>";
      window.xURL = "<%= image_url('splash/x.svg') %>";
      window.spawnerboxURL = "<%= image_url('splash/spawnerbox.svg') %>";
      window.squareURL = "<%= image_url('splash/square.svg') %>";
      window.triURL = "<%= image_url('splash/tri.svg') %>";
      window.vialURL = "<%= image_url('splash/vial.svg') %>";
      window.fullLogoURL = "<%= image_url('full_logo_white.svg') %>";
      window.fullLogoBlackURL = "<%= image_url('full_logo_black.svg') %>";
      window.minilogo = "<%= image_url('logo.png') %>";
      window.loadingVideo = "<%= video_url("loader.webm") %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
